@import "Styles/mixins";

.contentContainer {
  display: flex;
  padding: 2.5rem;
}

.tilesContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 80rem;
}

.tile {
  color: var(--cds-text-01) !important;
  display: flex !important;
  font-weight: 500 !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  width: 24rem !important;
  height: 12rem !important;
  background: var(--cds-field) !important;
  border-radius: 0.25rem !important;
  //box-shadow: 0 10px 25px 3px var(--cds-hover-ui);
  cursor: pointer !important;
  padding: 1rem !important;

  &:hover {
    color: var(--cds-text-01);
    background: var(--cds-ui-03) !important;
    text-decoration: none;
  }

  &:focus {
    @include focus-outline($offset: -0.125rem);
  }
}

.tileTitle {
  color: var(--cds-text-01);
  font-size: 1.125rem;
  line-height: 1.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
