.container {
  margin: 2.5rem;
}

.contentContainer {
  width: 22rem;

  >*+* {
    margin-top: 1rem;
  }
}

.contentLabel {
  color: var(--cds-text-02);
  line-height: 1.5;
  font-size: 0.925rem;
  margin-bottom: 0.25rem;
}

.contentText {
  ul li {
    list-style: initial;
    margin-left: 1.125rem;
  }
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.tilesContainer {
  margin: 2rem 0rem;
  display: flex;
  gap: 2rem;
  flex-flow: wrap;
}

.tile {
  font-weight: 500;
  width: 20rem;
  height: auto;
  background: var(--cds-field);
  border-radius: 0.375rem;
  box-shadow: 0 0.625rem 1.5625rem 0.1875rem var(--cds-hover-ui);

  >*+* {
    margin-top: 1rem;
  }

  li {
    line-height: 2;
  }
}

.tileTitle {
  background-image: linear-gradient(125deg, #003d73, #009d9a);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 2;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: .06rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tileDescription {
  font-size: 0.875rem;
  line-height: 2;
  font-style: italic;
  text-align: center;
}

button.tileButton {
  border-style: solid;
  border-width: 1px;
  border-color: var(--cds-interactive-01);
  color: var(--cds-interactive-01);
  justify-content: center;
  padding: 1rem;
  width: 100%;
  &:hover, &:focus {
    border-style: solid;
    border-width: 1px;
    border-color: var(--cds-interactive-01);
    background-color: transparent !important;
    color: var(--cds-interactive-01);
  }
}


.buttonsContainer {
  display: flex;
  justify-content: flex-start;
  margin: 4rem 0rem;
}