.container {
  margin: 2.5rem;
}
.contentContainer {
  width: 20rem;
  > * + * {
    margin-top: 1rem;
  }
}

.contentLabel {
  color: var(--cds-text-02);
  line-height: 1.5;
  font-size: 0.925rem;
  margin-bottom: 0.25rem;
}

.contentText {
  ul li {
    list-style: initial;
    margin-left: 1.125rem;
  }
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.tilesContainer {
  margin: 2rem 0rem;
  display: flex;
  gap: 2rem;
  flex-flow: wrap;
}

.tile {
  display: flex !important;
  font-weight: 500;
  flex-direction: column !important;
  width: 20rem;
  height: 20rem;
  background: var(--cds-field);
  border-radius: 0.25rem;
  box-shadow: 0 10px 25px 3px var(--cds-hover-ui);
  cursor: pointer;

  li {
    line-height: 2;
  }
}

.tileTitle {
  margin-top: 1rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-start;
  margin: 4rem 0rem;
}
