.container {
    height: 100vh;
    display: flex;
    padding-top: 3rem;
    background-color: var(--cds-ui-background);
    min-height: 100vh;
    min-width: 60rem;
}

.sidenav {
    position: relative !important;
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
    justify-content: center;
    height: calc(100vh - 3rem);
    overflow: scroll;
}